# Ch 4 CAPM_자본 자산 가격결정 모델

In [1]:
import numpy as np

# 52-weeks beta
beta52 = [1.38, 0.47, 1.02]

# investment amount
investment = [5, 2, 3]
sumOfInvestment = sum(investment)
weights = [w/sumOfInvestment for w in investment]

beta = np.dot(beta52, weights)
print('The portfolio beta is {0:0.2f}'.format(beta))

The portfolio beta is 1.09

In [2]:
import pandas as pd
import math

url = 'https://raw.githubusercontent.com/jimsjoo/gilbut_portfolio/master/portfolioAB.csv'
df = pd.read_csv(url)

In [3]:
returns = df[['KOSPI', 'PortA', 'PortB']].pct_change()
returns.head()

      KOSPI     PortA     PortB
0       NaN       NaN       NaN
1  0.002970  0.000454  0.000555
2  0.004833  0.000944  0.001189
3 -0.005561 -0.000934 -0.001178
4  0.000000  0.001813  0.002082

In [4]:
returns

         KOSPI     PortA     PortB
0          NaN       NaN       NaN
1     0.002970  0.000454  0.000555
2     0.004833  0.000944  0.001189
3    -0.005561 -0.000934 -0.001178
4     0.000000  0.001813  0.002082
...        ...       ...       ...
1983  0.000000  0.001553  0.001856
1984  0.000000  0.000257  0.000304
1985  0.000000 -0.000337 -0.000396
1986  0.000000  0.000124  0.000147
1987  0.006354  0.000718  0.000875

[1988 rows x 3 columns]

In [5]:
# annual volatility for market(KOSPI), portfolios A & B
vol_m = returns['KOSPI'].std() * math.sqrt(250)
vol_A = returns['PortA'].std() * math.sqrt(250)
vol_B = returns['PortB'].std() * math.sqrt(250)

print('KOSPI200 변동성: {:0.2%}'.format(vol_m))
print('KOSPI200 변동성: {:0.2%}'.format(vol_A))
print('KOSPI200 변동성: {:0.2%}'.format(vol_B))

KOSPI200 변동성: 9.83%
KOSPI200 변동성: 4.15%
KOSPI200 변동성: 4.76%

In [6]:
covs = returns.cov()
covs

              KOSPI         PortA         PortB
KOSPI  3.862196e-05  5.944607e-07  7.196522e-07
PortA  5.944607e-07  6.894783e-06  7.903467e-06
PortB  7.196522e-07  7.903467e-06  9.080296e-06

In [7]:
cov_mA = covs.loc['KOSPI', 'PortA']
cov_mB = covs.loc['KOSPI', 'PortB']

(cov_mA, cov_mB)

(5.944606657255714e-07, 7.19652182717938e-07)

In [8]:
# market(KOSPI) volatility
var_m = returns['KOSPI'].var()
var_m

3.862196138341903e-05

In [9]:
# beta for portfoilo A & portfolio B
beta_A = cov_mA / var_m
beta_B = cov_mB / var_m

print('Portfolio A의 beta: {:4f}'.format(beta_A))
print('Portfolio B의 beta: {:4f}'.format(beta_B))

Portfolio A의 beta: 0.015392
Portfolio B의 beta: 0.018633

## digression

Yahoo Finance나 Naver 금융 또는